@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body p,
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body ul,
.markdown-body ol{
    color:white;
}

.markdown-body ul{
    list-style: square;
}

.markdown-body ol{
    list-style:decimal;
}